@font-face {font-family:"FedraSansPro"; src:url("../fonts/FedraSansProLight.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"FedraSansPro"; src:url("../fonts/FedraSansProBold.woff") format("woff"); font-weight:bold; font-style:normal}
@font-face {font-family:"FedraSansProBook"; src:url("../fonts/FedraSansProBook.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"FedraSansProMedium"; src:url("../fonts/FedraSansProMedium.woff") format("woff"); font-weight:normal; font-style:normal}

html {min-width:480px; height:100%}

body {min-width:480px; height:100%; margin:0; padding:0; font:15px/24px FedraSansPro, sans-serif; color:#707070; background:#f1f1f1; -webkit-text-size-adjust:100%}

a {outline:none; color:#431a2d}

img {border:none}

h1 {margin:0 0 43px 0; padding:0; font-weight:bold; font-size:34px; line-height:36px; color:#431a2d}
h2 {margin:58px 0 38px 0; padding:0; font-weight:bold; font-size:24px; line-height:24px; color:#431a2d}
h3 {margin:48px 0 24px 0; padding:0; font-weight:bold; font-size:18px; line-height:24px; color:#431a2d}
li h3 {margin:0}
h3:first-child {margin-top:0}
h4 {margin:48px 0 24px 0; padding:0; font-weight:bold; font-size:15px; line-height:24px; color:#431a2d}
li h4 {margin:0}
p {margin:24px 0; padding:0}
ul {margin:24px 0; padding:0; list-style:none}
ul li {margin:12px 0; padding:0 0 0 26px; position:relative}
ul li:before {content:""; display:block; width:13px; height:10px; position:absolute; left:0; top:7px; background:url(../images/li.png)}
blockquote {font-size:24px; line-height:36px; margin:48px 0; padding:3px 0 6px 24px; border-left:3px solid #431a2d}
blockquote strong {display:block; font:16px/24px FedraSansProMedium, sans-serif; color:#431a2d; padding:0 0 2px 0}
hr {margin:70px 0; padding:0; height:1px; border:none; background:#aaa}

.wrapper table {width:100%; border-collapse:collapse; border-bottom:1px solid #431a2d; margin:60px 0}
.wrapper th {border-left:1px solid #dfdbdd; border-top:1px solid #431a2d; padding:10px 5px 12px 5px; vertical-align:top; text-align:center; color:#431a2d; font-weight:bold; font-size:12px; line-height:24px; text-transform:uppercase}
.wrapper th:first-child {border-left:none; text-align:left; padding-left:0}
.wrapper th.not-first {border-left:1px solid #dfdbdd; text-align:center; padding-left:5px}
.wrapper tr+tr th {font-size:10px}
.wrapper tr+tr+tr th {font:9px/12px FedraSansProBook, sans-serif; text-transform:none}
.wrapper td {border-left:1px solid #dfdbdd; border-top:1px solid #431a2d; padding:21px 5px 26px 5px; vertical-align:middle; text-align:center}
.wrapper td:first-child {border-left:none; text-align:left; padding-left:0}

.cols {margin:0 -10px}
.cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.col-half {float:left; width:50%; padding:0 10px; box-sizing:border-box}

header {position:fixed; left:0; top:0; right:0; height:72px; z-index:90}
.page-inner header {background:#fff}

.logo {float:left; width:262px; height:72px; background:#431a2d; text-align:center; line-height:72px}
.page-inner .logo {width:52px; padding:0 0 0 39px; text-align:left; position:relative}
.page-inner .logo:after {content:""; display:block; width:0; height:0; border-left:17px solid #431a2d; border-top:36px solid transparent; border-bottom:36px solid transparent; position:absolute; right:-17px; top:0}
.logo img {vertical-align:middle}

.breadcrumbs {float:left; font:10px/72px FedraSansProBook, sans-serif; text-transform:uppercase; color:#aaa; padding:0 0 0 37px; letter-spacing:1px}
.breadcrumbs a {color:#aaa; text-decoration:none}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:6px; height:9px; background:url(../images/breadcrumbs.png); margin:0 10px}

.header-slides {float:right; position:relative; width:131px}
.page-inner .header-slides {border-left:1px solid #f1f1f1}
.header-slides-link {display:block; position:relative; height:27px; background:#fff; padding:45px 0 0 0; text-align:center; color:#aaa; text-decoration:none; font:10px/12px FedraSansProBook, sans-serif; text-transform:uppercase; transition:all .3s ease}
.header-slides-link:before {content:""; display:block; width:20px; height:21px; background:url(../images/slides.png); position:absolute; left:50%; top:17px; margin-left:-10px; transition:all .3s ease}
.header-slides-link.open:before {opacity:0}
.header-slides-link:after {content:""; display:block; width:20px; height:21px; background:url(../images/slides-active.png); position:absolute; left:50%; top:17px; margin-left:-10px; opacity:0; transition:all .3s ease}
.header-slides-link.open {color:#431a2d; box-shadow:0 10px 21px rgba(30, 10, 20, .13); z-index:1}
.header-slides-link.open:after {opacity:1}

.header-slides-list {position:fixed; left:-9999px; top:72px; width:100%; bottom:0; z-index:99; background:#aaa}
.header-slides-link.open+.header-slides-list {left:0; width:auto; right:0}
.header-slides-list-content {position:absolute; left:0; top:0; right:0; bottom:0; font-size:0; line-height:0; letter-spacing:-1px; overflow:hidden}
.header-slides-list-inner {padding:14px 30px 10px 30px}
.header-slides-list-item {display:inline-block; vertical-align:top; width:140px; padding:10px}
.header-slides-list-item-inner {display:block; text-decoration:none; color:#fff}
.header-slides-list-item.active .header-slides-list-item-preview {box-shadow:0 5px 21px rgba(67, 26, 45, .61)}
.header-slides-list-item-preview img {width:100%}
.header-slides-list-item-title {letter-spacing:0; text-align:center; font:12px/16px FedraSansProBook, sans-serif; position:relative; padding:20px 0 0 0}
.header-slides-list-item.active .header-slides-list-item-title {font-weight:bold; font-family:FedraSansPro, sans-serif}

.header-stacks {float:right; position:relative; width:130px; margin:0 1px 0 0}
.page-inner .header-stacks {border-left:1px solid #f1f1f1; margin:0}
.header-stacks-link {display:block; position:relative; height:27px; background:#fff; padding:45px 0 0 0; text-align:center; color:#aaa; text-decoration:none; font:10px/12px FedraSansProBook, sans-serif; text-transform:uppercase; transition:all .3s ease}
.header-stacks-link:before {content:""; display:block; width:20px; height:21px; background:url(../images/stacks.png); position:absolute; left:50%; top:16px; margin-left:-10px; transition:all .3s ease}
.header-stacks-link.open:before {opacity:0}
.header-stacks-link:after {content:""; display:block; width:20px; height:21px; background:url(../images/stacks-active.png); position:absolute; left:50%; top:16px; margin-left:-10px; opacity:0; transition:all .3s ease}
.header-stacks-link.open {color:#431a2d; box-shadow:0 10px 21px rgba(30, 10, 20, .13); z-index:1}
.header-stacks-link.open:after {opacity:1}

.header-stacks-list {display:none; position:absolute; left:0; top:100%; width:100%; z-index:2}
.header-stacks-item {position:relative; border-top:1px solid #b7b7b7}
.header-stacks-item:first-child {border-top-color:#f2f2f2}
.header-stacks-item-link {display:block; background:#aaa; color:#fff; font-size:11px; line-height:16px; font-weight:bold; text-transform:uppercase; text-decoration:none; padding:20px 12px 19px 12px; transition:all .3s ease; position:relative}
.header-stacks-item-link:before {content:""; display:block; width:28px; height:28px; margin:0 0 17px 0; border:1px solid #cdcdd0; border-radius:50%; background:url(../images/arrow-3.png) no-repeat center; transition:all .3s ease}
.header-stacks-item.open .header-stacks-item-link {background:#fff; color:#2d2f34}
.header-stacks-item.open .header-stacks-item-link:before {border-color:#cfcfd2; background-image:url(../images/arrow-1.png); transform:rotate(180deg)}
.header-stacks-item.open .header-stacks-item-link:after {content:""; display:block; width:1px; position:absolute; left:0; top:0; bottom:0; background:#f2f2f2}
.header-stacks-sub {position:absolute; right:100%; top:0; width:0; overflow:hidden; background:#fff; transition:all .3s ease}
.header-stacks-item.open .header-stacks-sub {width:320px}
.header-stacks-sub ul {margin:0; padding:12px 40px; width:240px; list-style:none}
.header-stacks-sub ul li {margin:0; padding:0; border-top:1px solid #f0e8ed}
.header-stacks-sub ul li:first-child {border-top:none}
.header-stacks-sub ul li:before {display:none}
.header-stacks-sub ul li a {display:block; color:#2d2f34; text-decoration:none; padding:10px 0 13px 0}

.wrapper {min-width:480px; width:100%; height:100%; box-sizing:border-box; padding:72px 0; position:relative; overflow:hidden; background:#40333a url(../images/main-bg.jpg) no-repeat center; background-size:cover}
.wrapper-inner {display:table; width:100%}
.wrapper-content {display:table-cell; vertical-align:middle}

.page-inner .wrapper {background:none}
.page-inner .wrapper-inner {display:block}
.page-inner .wrapper-content {display:block; vertical-align:top}

.main-title {text-align:center; font-weight:bold; font-size:68px; line-height:68px; color:#fff; transition:all .3s ease}
.main.open .main-title {font-size:34px; line-height:34px}
.main-subtitle {text-align:center; font-size:34px; line-height:34px; color:#f2f2f2; padding:17px 0 0 0; transition:all .3s ease}
.main.open .main-subtitle {font-size:17px; line-height:17px; padding:10px 0 0 0}

.main-menu {width:640px; margin:0 auto; padding:82px 0 0 0; transition:all .3s ease}
.main.open .main-menu {padding:64px 0 0 0}
.main-menu:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-menu-item {float:left; width:33.33%}
.main-menu-item-1 {background:#f1f1f1}
.main-menu-item-2 {background:#4f1035}
.main-menu-item-3 {background:#431a2d}
.main-menu-item-link {display:block; height:144px; position:relative; text-decoration:none; font-weight:bold; font-size:12px; line-height:16px; text-transform:uppercase}
.main-menu-item-1 .main-menu-item-link {color:#2d2f34}
.main-menu-item-2 .main-menu-item-link {color:#f2f2f2}
.main-menu-item-3 .main-menu-item-link {color:#f1f1f1}
.main-menu-item-link:before {content:""; display:block; position:absolute; left:20px; top:11px; width:28px; height:28px; border-width:1px; border-style:solid; border-radius:50%; background-repeat:no-repeat; background-position:center; transition:all .3s ease}
.main-menu-item.open .main-menu-item-link:before {transform:rotate(180deg)}
.main-menu-item-1 .main-menu-item-link:before {border-color:#cfcfd2; background-image:url(../images/arrow-1.png)}
.main-menu-item-2 .main-menu-item-link:before {border-color:#70435e; background-image:url(../images/arrow-2.png)}
.main-menu-item-3 .main-menu-item-link:before {border-color:#6d405a; background-image:url(../images/arrow-2.png)}
.main-menu-item-link span {position:absolute; left:20px; bottom:25px}

.main-menu-content {display:none; background:#fff; position:relative; margin:0 -200% 0 0}
.main-menu-submenu {padding:25px 0 24px 0}
.main-menu-submenu:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-menu-submenu ul {float:left; margin:0; padding:0; list-style:none; width:50%; padding:0 40px; box-sizing:border-box}
.main-menu-submenu ul li {margin:0; padding:0; border-top:1px solid #f0e8ed}
.main-menu-submenu ul li:first-child {border-top:none}
.main-menu-submenu ul li:before {display:none}
.main-menu-submenu ul li a {color:#2d2f34; text-decoration:none; display:block; padding:10px 0 13px 0}

.content {padding:63px 122px 63px 122px}

.help-link {display:inline-block; vertical-align:middle; width:16px; height:18px; background:url(../images/help-link.png)}
.dots-link {text-decoration:none; border-bottom:1px dashed #431a2d}

.principles {padding:1px 0 24px 0}
.principles:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.principles-text {margin:0 400px 0 0}
.principles-scheme {float:right; width:380px; padding:73px 0 0 0}
.principles-block {height:240px; position:relative; font-size:11px; line-height:13px; text-align:center}
.principles-block-1 {position:absolute; left:0; top:-68px; width:126px; box-sizing:border-box}
.principles-block-1:after {content:""; display:block; position:absolute; left:63px; top:51px; width:1px; height:17px; background:#431a2d}
.principles-block-2 {position:absolute; left:0; top:0; width:126px; height:60px; border:1px solid #431a2d; background:#fff; box-sizing:border-box; padding:16px 0 0 0}
.principles-block-3 {position:absolute; left:0; bottom:0; width:126px; height:179px; background:#fff; box-sizing:border-box; padding:76px 0 0 0}
.principles-block-4 {position:absolute; left:127px; top:0; width:126px; height:240px; background:#fff; box-sizing:border-box; padding:106px 0 0 0}
.principles-block-5 {position:absolute; right:0; top:-96px; width:126px; height:95px; color:#fff; background:#431a2d; box-sizing:border-box; padding:28px 0 0 0}
.principles-block-6 {position:absolute; right:0; top:0; width:126px; height:240px; border:1px solid #431a2d; box-sizing:border-box}
.principles-block-7 {position:absolute; right:1px; top:1px; width:124px; height:59px; background:#fff; box-sizing:border-box; padding:8px 0 0 0}
.principles-block-8 {position:absolute; right:1px; bottom:1px; width:124px; height:178px; background:#fff; box-sizing:border-box; padding:77px 0 0 0}
.principles-block-9 {position:absolute; right:0; top:240px; width:126px; box-sizing:border-box; padding:17px 0 0 0}
.principles-block-9:after {content:""; display:block; position:absolute; left:63px; top:0; width:1px; height:16px; background:#431a2d}

.insur-tabs {margin:24px -20px 72px -20px}
.insur-tabs-inner {display:table; width:100%; border-collapse:separate; border-spacing:20px 0}
.insur-tab {display:table-cell; border:1px solid #c5bbc0; width:33.33%; padding:28px 20px 29px 20px; vertical-align:top; box-sizing:border-box}
.insur-tab-title {color:#431a2d; font-size:12px; line-height:16px; font-weight:bold; text-transform:uppercase}
.insur-tab-text {font-size:14px; line-height:20px; padding:17px 0 0 0}

.insur-scheme {margin:24px 0}
.insur-scheme-header {font-weight:bold; font-size:12px; line-height:20px; color:#431a2d; text-transform:uppercase; padding:0 0 14px 0}
.insur-scheme-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.insur-scheme-header-left {float:left}
.insur-scheme-header-right {float:right}
.insur-scheme-content {display:table; width:100%; background:#ededed}
.insur-scheme-left {display:table-cell; vertical-align:middle; width:50%; padding:10px 20px; background:#e6e6e6}
.insur-scheme-left li {margin:24px 0}
.insur-scheme-center {display:table-cell; width:60px}
.insur-scheme-center-inner {width:60px; position:relative}
.insur-scheme-center-inner:before {content:""; display:block; position:absolute; left:0; top:0; bottom:0; width:30px; background:#e6e6e6}
.insur-scheme-center-inner span {display:block; position:absolute; right:0; top:0; width:0; height:0; border-left:30px solid #e6e6e6; border-top:30px solid transparent; border-bottom:30px solid transparent}
.insur-scheme-right {display:table-cell; vertical-align:middle; width:50%; padding:10px 20px 10px 30px}
.insur-scheme-right h4 {margin:0}

.note {margin:48px 0; padding:22px 46px 26px 46px; background:#fff; position:relative}
.note span {float:left; clear:left; margin:0 0 0 -20px; width:20px}
.note span strong {font-weight:normal; color:#431a2d}

footer {position:fixed; left:0; right:0; bottom:0; z-index:80}

.pager {height:48px; background:#431a2d; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.pager a {display:inline-block; vertical-align:top; width:45px; height:48px; color:#fff; text-decoration:none; font-size:12px; line-height:48px; letter-spacing:0}
.pager a.active {background:#f1f1f1; color:#431a2d}

.footer-links {background:#fff; height:48px; line-height:48px; text-align:center; position:relative}
.footer-links img {vertical-align:middle}
.footer-links a {margin:0 26px}
.footer-links-prev {display:block; margin:0; position:absolute; left:0; top:0; padding:0 28px 0 58px; border-right:1px solid #f1f1f1; height:48px; font:10px/48px FedraSansProBook, sans-serif; text-transform:uppercase; white-space:nowrap; color:#431a2d; text-decoration:none}
.footer-links-prev span {display:block; position:relative; width:174px; overflow:hidden; text-overflow:ellipsis; text-align:right}
.footer-links-prev:after {content:""; display:block; width:15px; height:11px; position:absolute; left:30px; top:19px; background:url(../images/footer-links-prev.png)}
.footer-links-next {display:block; margin:0; position:absolute; right:0; top:0; padding:0 58px 0 28px; border-left:1px solid #f1f1f1; height:48px; font:10px/48px FedraSansProBook, sans-serif; text-transform:uppercase; white-space:nowrap; color:#431a2d; text-decoration:none}
.footer-links-next span {display:block; position:relative; width:174px; overflow:hidden; text-overflow:ellipsis}
.footer-links-next:after {content:""; display:block; width:15px; height:11px; position:absolute; right:30px; top:19px; background:url(../images/footer-links-next.png)}

.license {text-align:center; height:24px; font:11px/24px FedraSansProBook, sans-serif; color:#fff; background:#aaa}