@font-face {font-family:"FedraSansPro"; src:url("../fonts/FedraSansProLight.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"FedraSansPro"; src:url("../fonts/FedraSansProLightItalic.woff") format("woff"); font-weight:normal; font-style:italic}
@font-face {font-family:"FedraSansPro"; src:url("../fonts/FedraSansProBold.woff") format("woff"); font-weight:bold; font-style:normal}
@font-face {font-family:"FedraSansProBook"; src:url("../fonts/FedraSansProBook.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"FedraSansProMedium"; src:url("../fonts/FedraSansProMedium.woff") format("woff"); font-weight:normal; font-style:normal}

html {min-width:480px; height:100%}

@media screen and (max-width:1023px) {
    html {height:auto}
}

body {min-width:480px; height:100%; margin:0; padding:0; font:15px/24px FedraSansPro, sans-serif; color:#707070; background:#f1f1f1; -webkit-text-size-adjust:100%}

@media screen and (max-width:1023px) {
    body {height:auto}
}

a {outline:none; color:#431a2d}

img {border:none}

h1 {margin:0 0 43px 0; padding:0; font-weight:bold; font-size:34px; line-height:36px; color:#431a2d}
h2 {margin:58px 0 38px 0; padding:0; font-weight:bold; font-size:24px; line-height:24px; color:#431a2d}
h3 {margin:48px 0 24px 0; padding:0; font-weight:bold; font-size:18px; line-height:24px; color:#431a2d}
li h3 {margin:0}
h3:first-child {margin-top:0}
h4 {margin:48px 0 24px 0; padding:0; font-weight:bold; font-size:15px; line-height:24px; color:#431a2d}
li h4 {margin:0}
p {margin:24px 0; padding:0}
ul {margin:24px 0; padding:0; list-style:none}
ul li {margin:12px 0; padding:0 0 0 26px; position:relative}
ul li:before {content:""; display:block; width:13px; height:10px; position:absolute; left:0; top:7px; background:url(../images/li.png)}
blockquote {font-size:24px; line-height:36px; margin:48px 0; padding:3px 0 6px 24px; border-left:3px solid #431a2d}
blockquote strong {display:block; font:16px/24px FedraSansProMedium, sans-serif; color:#431a2d; padding:0 0 2px 0}
hr {margin:70px 0; padding:0; height:1px; border:none; background:#aaa}

.wrapper table {width:100%; border-collapse:collapse; border-bottom:1px solid #431a2d; margin:60px 0}
.wrapper th {border-left:1px solid #dfdbdd; border-top:1px solid #431a2d; padding:14px 5px 16px 5px; vertical-align:top; text-align:center; color:#431a2d; font-weight:bold; font-size:12px; line-height:15px; text-transform:uppercase}
.wrapper th:first-child {border-left:none; text-align:left; padding-left:0}
.wrapper th.not-first {border-left:1px solid #dfdbdd; text-align:center; padding-left:5px}
.wrapper tr+tr th {font-size:10px}
.wrapper tr+tr+tr th {font:9px/12px FedraSansProBook, sans-serif; text-transform:none; padding-top:10px; padding-bottom:12px}
.wrapper td {border-left:1px solid #dfdbdd; border-top:1px solid #431a2d; padding:21px 5px 26px 5px; vertical-align:middle; text-align:center}
.wrapper td:first-child {border-left:none; text-align:left; padding-left:0}

.cols {margin:0 -10px}
.cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.col-half {float:left; width:50%; padding:0 10px; box-sizing:border-box}

@media screen and (max-width:1023px) {
    .col-half {width:100%}
}

header {position:fixed; left:0; top:0; right:0; height:72px; z-index:90; border-bottom:1px solid #431a2d}
.page-inner header {background:#fff; border-bottom:1px solid #f1f1f1}

.logo {float:left; width:262px; height:72px; background:#431a2d; text-align:center; line-height:72px; position:relative}
.page-inner .logo {width:52px; padding:0 0 0 39px; text-align:left}
.page-inner .logo:after {content:""; display:block; width:0; height:0; border-left:17px solid #431a2d; border-top:36px solid transparent; border-bottom:36px solid transparent; position:absolute; right:-17px; top:0}
.logo a {position:absolute; display:block; left:0; top:0; right:0; bottom:0}
.page-inner .logo a {padding:0 0 0 39px}
.logo img {vertical-align:middle}

@media screen and (max-width:1023px) {
    .logo {width:240px}
    .page-inner .logo {width:240px; padding:0; text-align:center}
    .page-inner .logo:before {content:""; display:inline-block; vertical-align:middle; width:128px; height:31px; background:url(../images/logo.svg) no-repeat; background-size:100%}
    .page-inner .logo img {display:none}
    .page-inner .logo:after {display:none}
}

.breadcrumbs {float:left; font:10px/16px FedraSansProBook, sans-serif; text-transform:uppercase; color:#aaa; padding:0 0 0 37px; letter-spacing:1px; max-width:calc(100% - 400px)}
.breadcrumbs-wrap {display:table; width:100%}
.breadcrumbs-inner {display:table-cell; height:72px; vertical-align:middle}
.breadcrumbs a {color:#aaa; text-decoration:none}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:6px; height:9px; background:url(../images/breadcrumbs.png); margin:-2px 10px 0 10px}

@media screen and (max-width:1023px) {
    .breadcrumbs {display:none}
}

.header-slides {float:right; position:relative; width:131px}
.page-inner .header-slides {border-left:1px solid #f1f1f1}
.header-slides-link {display:block; position:relative; height:27px; background:#fff; padding:45px 0 0 0; text-align:center; color:#aaa; text-decoration:none; font:10px/12px FedraSansProBook, sans-serif; text-transform:uppercase; transition:all .3s ease}
.header-slides-link span {display:block; width:50px; height:30px; position:absolute; left:50%; top:12px; margin-left:-24px}
.header-slides-link.open span {display:none}
.header-slides-link:after {content:""; display:block; width:20px; height:21px; background:url(../images/slides-active.png); position:absolute; left:50%; top:17px; margin-left:-10px; opacity:0; transition:all .3s ease}
.header-slides-link.open {color:#431a2d; box-shadow:0 10px 21px rgba(30, 10, 20, .13); z-index:1}
.header-slides-link.open:after {opacity:1}

@media screen and (max-width:1023px) {
    .header-slides {width:119px; position:absolute; right:121px}
    .page-inner .header-slides {border-left:none}
}

.header-slides-list {position:fixed; left:-9999px; top:72px; width:100%; bottom:0; z-index:99; background:#aaa}
.header-slides-link.open+.header-slides-list {left:0; width:auto; right:0}
.header-slides-list-content {position:absolute; left:0; top:0; right:0; bottom:0; font-size:0; line-height:0; letter-spacing:-1px; overflow:hidden}
.header-slides-list-inner {padding:14px 30px 0 30px}
.header-slides-list-item {display:inline-block; vertical-align:top; width:140px; padding:10px}
.header-slides-list-item-inner {display:block; text-decoration:none; color:#fff}
.header-slides-list-item.active .header-slides-list-item-preview {box-shadow:0 5px 21px rgba(67, 26, 45, .61)}
.header-slides-list-item-preview img {width:100%}
.header-slides-list-item-preview img:nth-child(2) {display:none}
.header-slides-list-item-title {letter-spacing:0; text-align:center; font:12px/16px FedraSansProBook, sans-serif; position:relative; padding:20px 0 0 0}
.header-slides-list-item.active .header-slides-list-item-title {font-weight:bold; font-family:FedraSansPro, sans-serif}

@media screen and (max-width:1023px) {
    .header-slides-list-inner {padding:15px}
    .header-slides-list-item {width:190px; padding:15px 15px 31px 15px}
    .header-slides-list-item-preview img:nth-child(1) {display:none}
    .header-slides-list-item-preview img:nth-child(2) {display:block}
}

.header-stacks {float:right; position:relative; width:130px; margin:0 1px 0 0}
.page-inner .header-stacks {border-left:1px solid #f1f1f1; margin:0}
.header-stacks-link {display:block; position:relative; height:27px; background:#fff; padding:45px 0 0 0; text-align:center; color:#aaa; text-decoration:none; font:10px/12px FedraSansProBook, sans-serif; text-transform:uppercase; transition:all .3s ease}
.header-stacks-link span {display:block; width:50px; height:30px; position:absolute; left:50%; top:11px; margin-left:-24px}
.header-stacks-link.open span {display:none}
.header-stacks-link:after {content:""; display:block; width:20px; height:21px; background:url(../images/stacks-active.png); position:absolute; left:50%; top:16px; margin-left:-10px; opacity:0; transition:all .3s ease}
.header-stacks-link.open {color:#431a2d; box-shadow:0 10px 21px rgba(30, 10, 20, .13); z-index:1}
.header-stacks-link.open:after {opacity:1}

@media screen and (max-width:1023px) {
    .header-stacks {width:119px}
    .page-inner .header-stacks {margin:0}
}

.header-stacks-list {display:none; position:absolute; left:0; top:100%; width:100%; z-index:2}
.header-stacks-item {position:relative; border-top:1px solid #b7b7b7}
.header-stacks-item:first-child {border-top-color:#f2f2f2}
.header-stacks-item-link {display:block; background:#aaa; color:#fff; font-size:11px; line-height:16px; font-weight:bold; text-transform:uppercase; text-decoration:none; padding:20px 12px 19px 12px; transition:all .3s ease; position:relative}
.header-stacks-item-link:before {content:""; display:block; width:28px; height:28px; margin:0 0 17px 0; border:1px solid #cdcdd0; border-radius:50%; background:url(../images/arrow-3.png) no-repeat center; transition:all .3s ease}
.header-stacks-item.open .header-stacks-item-link {background:#fff; color:#2d2f34}
.header-stacks-item.open .header-stacks-item-link:before {border-color:#cfcfd2; background-image:url(../images/arrow-1.png); transform:rotate(180deg)}
.header-stacks-item.open .header-stacks-item-link:after {content:""; display:block; width:1px; position:absolute; left:0; top:0; bottom:0; background:#f2f2f2}
.header-stacks-sub {position:absolute; right:100%; top:0; width:0; overflow:hidden; background:#fff; transition:all .3s ease}
.header-stacks-item.open .header-stacks-sub {width:320px}
.header-stacks-sub ul {margin:0; padding:12px 40px; width:240px; list-style:none}
.header-stacks-sub ul li {margin:0; padding:0; border-top:1px solid #f0e8ed}
.header-stacks-sub ul li:first-child {border-top:none}
.header-stacks-sub ul li:before {display:none}
.header-stacks-sub ul li a {display:block; color:#2d2f34; text-decoration:none; padding:10px 0 13px 0}

@media screen and (max-width:1023px) {
    .header-stacks-item-link {font-size:10px}
}

.wrapper {min-width:480px; width:100%; min-height:100%; height:100%; box-sizing:border-box; position:relative; overflow:auto; background:#431a2d url(../images/main-bg.png) no-repeat right bottom}
.wrapper-inner {display:block; width:100%; padding:73px 0 0 0}
.wrapper-content {display:block; position:relative}
.wrapper-content-loading {position:absolute; left:50%; top:50%; width:406px; height:142px; background:url(../images/preloader_grey.gif); margin:-71px 0 0 -203px}

@media screen and (max-width:1023px) {
    .wrapper {background:#431a2d; height:auto}
    .wrapper-inner {display:block}
    .wrapper-content {display:block; overflow:auto; background:#431a2d url(../images/main-bg-mobile.png) no-repeat right bottom; background-position:fixed}
}

.page-inner .wrapper {background:none; white-space:nowrap; padding:0}
.page-inner .wrapper-inner {display:inline-block; vertical-align:top; width:100%; white-space:normal; padding:73px 0 0 0}
.page-inner .wrapper-content {display:block; position:relative; overflow:auto; background:none}

.main-title {text-align:center; font-weight:bold; font-size:68px; line-height:68px; color:#fff; transition:all .3s ease}
.main.open .main-title {font-size:34px; line-height:34px}
.main-subtitle {text-align:center; font-size:34px; line-height:34px; color:#f2f2f2; padding:17px 0 0 0; transition:all .3s ease}
.main.open .main-subtitle {font-size:17px; line-height:17px; padding:10px 0 0 0}

@media screen and (max-width:1023px) {
    .main-title {font-size:34px; line-height:34px; padding:67px 0 0 0}
    .main-subtitle,
    .main.open .main-subtitle {font-size:17px; line-height:17px; padding:21px 0 0 0}
}

.main-menu {width:640px; margin:0 auto; padding:82px 0 0 0; transition:all .3s ease}
.main.open .main-menu {padding:64px 0 0 0}
.main-menu:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-menu-item {float:left; width:33.33%}
.main-menu-item-1 {background:#f1f1f1}
.main-menu-item-2 {background:#aaa}
.main-menu-item-3 {background:#707070}
.main-menu-item-link {display:block; height:144px; position:relative; text-decoration:none; font-weight:bold; font-size:12px; line-height:16px; text-transform:uppercase}
.main-menu-item-1 .main-menu-item-link {color:#707070}
.main-menu-item-2 .main-menu-item-link {color:#f2f2f2}
.main-menu-item-3 .main-menu-item-link {color:#f1f1f1}
.main-menu-item-link:before {content:""; display:block; position:absolute; left:20px; top:11px; width:28px; height:28px; border-width:1px; border-style:solid; border-radius:50%; background-repeat:no-repeat; background-position:center; transition:all .3s ease}
.main-menu-item-link:hover:before {transform:rotate(-90deg)}
.main-menu-item.open .main-menu-item-link:before {transform:rotate(-180deg)}
.main-menu-item-1 .main-menu-item-link:before {border-color:#b9b9b9; background-image:url(../images/arrow-1.png)}
.main-menu-item-2 .main-menu-item-link:before {border-color:#c6c6c6; background-image:url(../images/arrow-2.png)}
.main-menu-item-3 .main-menu-item-link:before {border-color:#949494; background-image:url(../images/arrow-2.png)}
.main-menu-item-link span {position:absolute; left:20px; bottom:25px}
.main-menu-item-2.open {background:#fff}
.main-menu-item-2.open .main-menu-item-link {color:#2d2f34}
.main-menu-item-2.open .main-menu-item-link:before {border-color:#cfcfd2; background-image:url(../images/arrow-1.png)}

@media screen and (max-width:1023px) {
    .main-menu,
    .main.open .main-menu {width:auto; margin:0 35px; padding:54px 0}
    .main-menu-item {float:none; width:auto}
    .main-menu-item-link {height:120px}
    .main-menu-item-link br {display:none}
    .main-menu-item-link:before {left:30px; top:20px}
    .main-menu-item-link span {left:30px; bottom:28px}
}

.main-menu-content {display:none; background:#fff; position:relative; margin:0 -100%}
.main-menu-submenu {padding:25px 0 24px 0}
.main-menu-submenu:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-menu-submenu ul {float:left; margin:0; padding:0; list-style:none; width:50%; padding:0 40px; box-sizing:border-box}
.main-menu-submenu ul li {margin:0; padding:0; border-top:1px solid #f0e8ed}
.main-menu-submenu ul li:first-child {border-top:none}
.main-menu-submenu ul li:before {display:none}
.main-menu-submenu ul li a {color:#2d2f34; text-decoration:none; display:block; padding:10px 0 13px 0}

@media screen and (max-width:1023px) {
    .main-menu-content {margin:0}
    .main-menu-submenu {padding:0}
    .main-menu-submenu ul {float:none; width:auto; padding:0; margin:0 30px; border-top:1px solid #f0e8ed}
}

.content {padding:63px 122px 63px 122px; max-width:1170px; margin:0 auto}
.content strong {color:#431a2d}

@media screen and (max-width:1023px) {
    .content {padding-left:35px; padding-right:35px}
}

.help-link {display:inline-block; vertical-align:middle; width:16px; height:18px; background:url(../images/help-link.png)}
.dots-link {text-decoration:none; border-bottom:1px dashed #431a2d}

.principles {padding:1px 0 24px 0}
.principles:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.principles-text {margin:0 400px 0 0}
.principles-scheme {float:right; width:380px; padding:73px 0 0 0}
.principles-block {height:240px; position:relative; font-size:11px; line-height:13px; text-align:center}
.principles-block-1 {position:absolute; left:0; top:-68px; width:126px; box-sizing:border-box}
.principles-block-1:after {content:""; display:block; position:absolute; left:63px; top:51px; width:1px; height:17px; background:#431a2d}
.principles-block-2 {position:absolute; left:0; top:0; width:126px; height:60px; border:1px solid #431a2d; background:#fff; box-sizing:border-box; padding:16px 0 0 0}
.principles-block-3 {position:absolute; left:0; bottom:0; width:126px; height:179px; background:#fff; box-sizing:border-box; padding:76px 0 0 0}
.principles-block-4 {position:absolute; left:127px; top:0; width:126px; height:240px; background:#fff; box-sizing:border-box; padding:106px 0 0 0}
.principles-block-5 {position:absolute; right:0; top:-96px; width:126px; height:95px; color:#fff; background:#431a2d; box-sizing:border-box; padding:28px 0 0 0}
.principles-block-6 {position:absolute; right:0; top:0; width:126px; height:240px; border:1px solid #431a2d; box-sizing:border-box}
.principles-block-7 {position:absolute; right:1px; top:1px; width:124px; height:59px; background:#fff; box-sizing:border-box; padding:8px 0 0 0}
.principles-block-8 {position:absolute; right:1px; bottom:1px; width:124px; height:178px; background:#fff; box-sizing:border-box; padding:77px 0 0 0}
.principles-block-9 {position:absolute; right:0; top:240px; width:126px; box-sizing:border-box; padding:17px 0 0 0}
.principles-block-9:after {content:""; display:block; position:absolute; left:63px; top:0; width:1px; height:16px; background:#431a2d}

@media screen and (max-width:1023px) {
    .principles-text {margin:106px 0 0 0}
    .principles-scheme {float:none; margin:0 auto}
}

.insur-tabs {margin:24px -20px 72px -20px}
.insur-tabs-inner {display:table; width:100%; border-collapse:separate; border-spacing:20px 0}
.insur-tab {display:table-cell; border:1px solid #c5bbc0; width:33.33%; padding:28px 20px 29px 20px; vertical-align:top; box-sizing:border-box; text-decoration:none; color:#707070}
.insur-tab-title {color:#431a2d; font-size:12px; line-height:16px; font-weight:bold; text-transform:uppercase}
.insur-tab-text {font-size:14px; line-height:20px; padding:17px 0 0 0}

@media screen and (max-width:1023px) {
    .insur-tabs {margin-left:0; margin-right:0}
    .insur-tabs-inner {display:block; width:auto; border-spacing:0}
    .insur-tab {display:block; width:auto; margin:14px 0; min-height:130px}
}

.insur-scheme {margin:24px 0}
.insur-scheme-header {font-weight:bold; font-size:12px; line-height:20px; color:#431a2d; text-transform:uppercase; padding:0 0 14px 0}
.insur-scheme-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.insur-scheme-header-left {float:left}
.insur-scheme-header-right {float:right}
.insur-scheme-content {display:table; width:100%; background:#ededed}
.insur-scheme-left {display:table-cell; vertical-align:middle; width:50%; padding:10px 20px; background:#e6e6e6}
.insur-scheme-left li {margin:24px 0}
.insur-scheme-center {display:table-cell; width:60px}
.insur-scheme-center-inner {width:60px; position:relative}
.insur-scheme-center-inner:before {content:""; display:block; position:absolute; left:0; top:0; bottom:0; width:30px; background:#e6e6e6}
.insur-scheme-center-inner span {display:block; position:absolute; right:0; top:0; width:0; height:0; border-left:30px solid #e6e6e6; border-top:30px solid transparent; border-bottom:30px solid transparent}
.insur-scheme-center-inner strong {display:none}
.insur-scheme-right {display:table-cell; vertical-align:middle; width:50%; padding:10px 20px 10px 30px}
.insur-scheme-right h4 {margin:0}
.insur-scheme-content-title {display:none}

@media screen and (max-width:1023px) {
    .insur-scheme-header {display:none}
    .insur-scheme-content {display:block}
    .insur-scheme-left {display:block; width:auto}
    .insur-scheme-content-title {display:block; font-weight:bold; font-size:12px; line-height:20px; color:#431a2d; text-transform:uppercase; padding:23px 0 0 0; margin:0 0 24px 0}
    .insur-scheme-center {display:block; width:0; height:0}
    .insur-scheme-center-inner {width:0}
    .insur-scheme-center-inner:before {display:none}
    .insur-scheme-center-inner span {display:none}
    .insur-scheme-center-inner strong {display:block; width:0; height:0; border-left:30px solid transparent; border-top:30px solid #e6e6e6; border-right:30px solid transparent}
    .insur-scheme-right {display:block; width:auto; padding:45px 20px 50px 20px}
}

.note {margin:48px 0; padding:22px 46px 26px 46px; background:#fff; position:relative}
.note-2 {background:none; padding:0 20px}
.note-3 {background:none; padding:0 20px; font-style:italic; color:#aaa}
.note span {float:left; clear:left; margin:0 0 0 -20px; width:20px; white-space:nowrap; font-style:normal}
.note span strong {font-weight:normal; color:#431a2d}
.note-link {color:#431a2d}

.rubl {font-family:Roboto, sans-serif; font-weight:300}

.tabs-menu {text-transform:uppercase; font-weight:bold; font-size:12px; line-height:20px}
.tabs-menu:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.tabs-menu ul {margin:0; padding:0; list-style:none}
.tabs-menu ul li {float:left; margin:0 0 0 40px; padding:0}
.tabs-menu ul li:before {display:none}
.tabs-menu ul li:first-child {margin:0}
.tabs-menu ul li a {display:block; text-decoration:none; position:relative; color:#aaa; padding:14px 0}
.tabs-menu ul li.active a {color:#431a2d}
.tabs-menu ul li.active a:after {content:""; display:block; position:absolute; left:0; bottom:0; right:0; height:5px; background:#431a2d}

.tab {display:none}
.tab.active {display:block}

.chart {background:#fff}
.content+.chart {margin:-63px 0 0 0}
.chart+.content {padding-top:0}
.tabs+.chart {margin-top:1px}

.chart-content {position:relative; width:100%}

.alert {color:#431a2d}

.options {margin:24px -20px}
.options-inner {display:table; width:100%; border-collapse:separate; border-spacing:20px 10px}
.options-row {display:table-row}
.options-item {display:table-cell; width:50%; border:1px solid #c5bbc0; height:78px; vertical-align:middle; color:#431a2d; text-decoration:none; font-weight:bold}
.options-item-inner {display:table; border-collapse:collapse; border-spacing:0}
.options-item-icon {display:table-cell; vertical-align:middle; width:83px; padding:0 0 0 37px; text-align:left; line-height:0}
.options-item-title {display:table-cell; vertical-align:middle}

@media screen and (max-width:1023px) {
    .options {margin-left:0; margin-right:0}
    .options-inner {display:block; width:auto; border-spacing:0}
    .options-row {display:block}
    .options-item {display:block; width:auto; margin:16px 0}
    .options-item-icon {height:78px}
}

.tools-text {color:#fff; margin:48px -122px; padding:11px 362px 49px 122px; background:#431a2d url(../images/tools-text.jpg) no-repeat center; background-size:cover}
.tools-text h2 {color:#fff}
.tools-text h3 {color:#fff}
.tools-text h4 {color:#fff}

@media screen and (max-width:1023px) {
    .tools-text {margin-left:-35px; margin-right:-35px; padding-left:35px; padding-right:35px}
}

.funds {position:relative; border-left:1px solid #aaa; border-bottom:1px solid #aaa; width:820px; height:384px; margin:69px auto 0 auto}
.funds-title-1 {position:absolute; left:-51px; top:-24px; font-size:11px; color:#aaa; text-transform:uppercase; -moz-transform-origin:right bottom; -ms-transform-origin:right bottom; -webkit-transform-origin:right bottom; -o-transform-origin:right bottom; transform-origin:right bottom; -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg); transform:rotate(-90deg)}
.funds-title-2 {position:absolute; right:0; bottom:1px; font-size:11px; color:#aaa; text-transform:uppercase}
.funds-line {width:780px; height:360px; position:absolute; left:-1px; bottom:-1px; background:url(../images/funds-line.png)}
.funds-item {position:absolute; height:64px}
.funds-item-1 {left:37px; top:207px}
.funds-item-2 {left:197px; top:93px}
.funds-item-3 {left:357px; top:37px}
.funds-item-4 {left:517px; top:5px}
.funds-item-5 {left:677px; top:-8px}
.funds-item-link {position:absolute; left:0; top:0; width:64px; height:64px; text-align:center; cursor:pointer; opacity:0; transition:opacity .2s ease; z-index:2}
.funds-item.active .funds-item-link,
.funds-item-link:hover {z-index:1}
.funds-item-1 .funds-item-link {transition:opacity .2s ease}
.funds-item-2 .funds-item-link {transition:opacity .2s ease .2s}
.funds-item-3 .funds-item-link {transition:opacity .2s ease .4s}
.funds-item-4 .funds-item-link {transition:opacity .2s ease .6s}
.funds-item-5 .funds-item-link {transition:opacity .2s ease .8s}
.funds-item.show .funds-item-link {opacity:1}
.funds-item-icon {width:64px; height:64px; background:#fff; line-height:64px; border-radius:50%; transition:background-color .2s ease}
.funds-item-icon img {vertical-align:middle; margin-top:-2px}
.slick-slide .funds-item-icon img {display:inline-block}
.funds-item-icon img:nth-child(2) {position:absolute; left:-9999px; top:-9999px}
.funds-item-link:hover .funds-item-icon,
.funds-item.active .funds-item-icon {background:#431a2d}
.funds-item-link:hover .funds-item-icon img:nth-child(1),
.funds-item.active .funds-item-icon img:nth-child(1) {display:none}
.funds-item-link:hover .funds-item-icon img:nth-child(2),
.funds-item.active .funds-item-icon img:nth-child(2) {position:static; left:auto; top:auto}
.funds-item-title {position:absolute; left:50%; top:100%; padding-top:12px; font-size:11px; line-height:15px; color:#431a2d; text-transform:uppercase; transform:translateX(-50%)}
.funds-item-link .funds-item-icon:before {content:""; display:block; position:absolute; height:0; width:0; right:80px; top:32px; transition:width .2s ease}
.funds-item-link:hover .funds-item-icon:before,
.funds-item.active .funds-item-link .funds-item-icon:before {border-top:1px dashed #431a2d}
.funds-item-link .funds-item-icon:after {content:""; display:block; position:absolute; width:0; height:0; left:32px; transition:height .2s ease}
.funds-item-link:hover .funds-item-icon:after,
.funds-item.active .funds-item-link .funds-item-icon:after {border-left:1px dashed #431a2d}
.funds-item-1.active .funds-item-icon:before,
.funds-item-1:hover .funds-item-icon:before {width:21px}
.funds-item-2.active .funds-item-icon:before,
.funds-item-2:hover .funds-item-icon:before {width:181px}
.funds-item-3.active .funds-item-icon:before,
.funds-item-3:hover .funds-item-icon:before {width:341px}
.funds-item-4.active .funds-item-icon:before,
.funds-item-4:hover .funds-item-icon:before {width:501px}
.funds-item-5.active .funds-item-icon:before,
.funds-item-5:hover .funds-item-icon:before {width:661px}
.funds-item-1.active .funds-item-icon:after,
.funds-item-1:hover .funds-item-icon:after {height:58px; top:118px}
.funds-item-2.active .funds-item-icon:after,
.funds-item-2:hover .funds-item-icon:after {height:172px; top:118px}
.funds-item-3.active .funds-item-icon:after,
.funds-item-3:hover .funds-item-icon:after {height:243px; top:103px}
.funds-item-4.active .funds-item-icon:after,
.funds-item-4:hover .funds-item-icon:after {height:260px; top:118px}
.funds-item-5.active .funds-item-icon:after,
.funds-item-5:hover .funds-item-icon:after {height:273px; top:118px}
.funds-item-window {display:none; position:absolute; overflow:hidden; left:42px; top:-136px; background:#fff; z-index:9; width:460px; padding:0 40px 13px 40px; box-shadow:0 7px 16px rgba(67, 26, 45, .5); font-size:14px; line-height:20px}
.funds-item-4 .funds-item-window,
.funds-item-5 .funds-item-window {left:auto; right:42px}
.funds-item-window h3 {margin:0 -40px 33px -40px; padding:22px 40px 26px 96px; background:#f1f1f1; position:relative}
.funds-item-window h3 img {position:absolute; left:40px; top:50%; transform:translateY(-50%)}
.funds-item-window p {margin:0; padding:0}
.funds-item-window h5 {margin:20px 0 0 0; padding:0; color:#431a2d; font-weight:bold; font-size:15px; line-height:24px}
.funds-item.active .funds-item-window {display:block}
.funds-item-more {font-size:11px; text-transform:uppercase; margin:32px 0 24px 0}
.funds-item-more a {text-decoration:none}
.funds-item-window-close {display:block; width:15px; height:15px; background:url(../images/funds-item-window-close.png); position:absolute; right:40px; top:27px}

@media screen and (max-width:1024px) {
    .funds {width:100%}
    .funds-item-3 .funds-item-window {left:12px}
}

@media screen and (max-height:768px) {
    .funds-item-1 .funds-item-window {top:-266px}
}

@media screen and (min-width:1281px) {
    .funds {height:504px; width:1020px}
    .funds-line {width:970px; height:449px; background:url(../images/funds-line-desktop.png)}
    .funds-item {height:81px}
    .funds-item-1 {left:45px; top:282px}
    .funds-item-2 {left:245px; top:140px}
    .funds-item-3 {left:445px; top:70px}
    .funds-item-4 {left:645px; top:30px}
    .funds-item-5 {left:845px; top:13px}
    .funds-item-icon {width:81px; height:81px; line-height:81px}
    .funds-item-link {width:81px; height:81px}
    .funds-item-icon img {transform:scale(1.2424)}
    .funds-item-link .funds-item-icon:before {right:90px; top:40px}
    .funds-item-link .funds-item-icon:after {left:40px}
    .funds-item-1.active .funds-item-icon:before,
    .funds-item-1:hover .funds-item-icon:before {width:35px}
    .funds-item-2.active .funds-item-icon:before,
    .funds-item-2:hover .funds-item-icon:before {width:235px}
    .funds-item-3.active .funds-item-icon:before,
    .funds-item-3:hover .funds-item-icon:before {width:435px}
    .funds-item-4.active .funds-item-icon:before,
    .funds-item-4:hover .funds-item-icon:before {width:635px}
    .funds-item-5.active .funds-item-icon:before,
    .funds-item-5:hover .funds-item-icon:before {width:835px}
    .funds-item-1.active .funds-item-icon:after,
    .funds-item-1:hover .funds-item-icon:after {height:85px; top:137px}
    .funds-item-2.active .funds-item-icon:after,
    .funds-item-2:hover .funds-item-icon:after {height:227px; top:137px}
    .funds-item-3.active .funds-item-icon:after,
    .funds-item-3:hover .funds-item-icon:after {height:309px; top:125px}
    .funds-item-4.active .funds-item-icon:after,
    .funds-item-4:hover .funds-item-icon:after {height:337px; top:137px}
    .funds-item-5.active .funds-item-icon:after,
    .funds-item-5:hover .funds-item-icon:after {height:354px; top:137px}
}

@media screen and (max-width:1023px) {
    .funds {height:527px; width:405px}
    .funds-line {width:371px; height:421px; left:20px; bottom:93px; background:url(../images/funds-line-mobile.png)}
    .funds-item-1 {left:62px; top:384px}
    .funds-item-2 {left:282px; top:336px}
    .funds-item-3 {left:170px; top:192px}
    .funds-item-4 {left:62px; top:48px}
    .funds-item-5 {left:282px; top:0}
    .funds-item-link:hover .funds-item-icon:before,
    .funds-item.active .funds-item-link .funds-item-icon:before {display:none}
    .funds-item-link:hover .funds-item-icon:after,
    .funds-item.active .funds-item-link .funds-item-icon:after {display:none}
    .funds-item-window,
    .funds-item-1 .funds-item-window,
    .funds-item-3 .funds-item-window,
    .funds-item-4 .funds-item-window,
    .funds-item-5 .funds-item-window {position:fixed; left:20px; top:77px; width:auto; bottom:151px; right:20px; overflow-y:auto; transform:none; padding-left:30px; padding-right:30px}
}

footer {position:fixed; left:0; right:0; bottom:0; z-index:80; overflow:hidden; border-top:1px solid #431a2d}
.page-inner footer {border-top:1px solid #f1f1f1}

.pager {height:48px; background:#431a2d; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.pager a {display:inline-block; vertical-align:top; width:45px; height:48px; color:#fff; text-decoration:none; font-size:12px; line-height:48px; letter-spacing:0}
.pager a.active {background:#f1f1f1; color:#431a2d}

.footer-links {background:#fff; height:48px; line-height:48px; text-align:center; position:relative}
.footer-links img {vertical-align:middle}
.footer-links a {margin:0 8px; display:inline-block; vertical-align:middle; line-height:0}
.footer-links a.footer-link-charts {width:42px; height:42px; position:relative}
.footer-links a.footer-link-download {width:42px; height:42px; position:relative}
.footer-links a.footer-link-info {width:42px; height:42px; position:relative}
.footer-links a.footer-links-prev {display:block; margin:0; position:absolute; left:0; top:0; padding:0 28px 0 58px; border-right:1px solid #f1f1f1; height:48px; font:10px/48px FedraSansProBook, sans-serif; text-transform:uppercase; white-space:nowrap; color:#431a2d; text-decoration:none}
.footer-links a.footer-links-prev span {display:block; position:relative; width:174px; overflow:hidden; text-overflow:ellipsis; text-align:right}
.footer-links a.footer-links-prev:after {content:""; display:block; width:15px; height:11px; position:absolute; left:30px; top:19px; background:url(../images/footer-links-prev.png)}
.footer-links a.footer-links-next {display:block; margin:0; position:absolute; right:0; top:0; padding:0 58px 0 28px; border-left:1px solid #f1f1f1; height:48px; font:10px/48px FedraSansProBook, sans-serif; text-transform:uppercase; white-space:nowrap; color:#431a2d; text-decoration:none}
.footer-links a.footer-links-next span {display:block; position:relative; width:174px; overflow:hidden; text-overflow:ellipsis}
.footer-links a.footer-links-next:after {content:""; display:block; width:15px; height:11px; position:absolute; right:30px; top:19px; background:url(../images/footer-links-next.png)}

@media screen and (max-width:1023px) {
    .footer-links {height:auto}
    .footer-links:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .footer-links a.footer-links-prev {position:relative; float:left; width:50%; box-sizing:border-box; padding-right:20px}
    .footer-links a.footer-links-prev span {width:150px}
    .footer-links a.footer-links-prev:after {left:20px}
    .footer-links a.footer-links-next {position:relative; float:right; width:50%; box-sizing:border-box; padding-left:20px}
    .footer-links a.footer-links-prev+a.footer-links-next {border-left:none}
    .footer-links a.footer-links-next span {width:150px}
    .footer-links a.footer-links-next:after {right:20px}
    .footer-links-other {border-top:1px solid #f1f1f1}
}

.license {text-align:center; height:24px; font:11px/24px FedraSansProBook, sans-serif; color:#fff; background:#aaa}

@media screen and (max-width:1023px) {
    .license {height:auto; line-height:16px; padding:6px 30px 10px 30px}
}

.pageload-overlay {display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:9999; background:#431a2d}
.pageload-overlay img {position:absolute; left:50%; top:50%; margin:-71px 0 0 -203px; width:406px; height:142px}
.wrapper-content .pageload-overlay {position:absolute; z-index:auto}

.btn {display:block; border-radius:3px; background:#431a2d; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:48px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:11px/48px FedraSansProBook, sans-serif; -webkit-appearance:none; cursor:pointer; transition:all 0.25s ease-out 0s}
.btn:hover {background:#aaaaaa; color:#fff}
.btn:active {background:#707070; color:#fff}

.form-input {position:relative; background:#f7f7f7}
.form-input-date:before {content:""; display:block; position:absolute; right:15px; top:23px; width:15px; height:16px; background:url(../images/form-input-date.png)}
.form-input span {position:absolute; left:16px; top:20px; text-transform:uppercase; color:#707070; font:9px/20px FedraSansProBook, sans-serif; transition:all .3s ease}
.form-input.focus span {font-size:10px; line-height:15px; top:10px}
.form-input input {position:relative; border:none; font:bold 15px/24px FedraSansPro, sans-serif; color:#431a2d; vertical-align:top; margin:0; padding:21px 19px 7px 19px; width:100%; height:60px; box-sizing:border-box; outline:none; border-radius:3px; background:url(../images/blank.gif); -webkit-appearance:none}

::-ms-clear {display:none}

.form-select select {border:1px solid #e1e1e1; font:20px/30px Roboto, sans-serif; color:#036; vertical-align:top; margin:0; padding:21px 19px 7px 19px; width:100%; height:60px; box-sizing:border-box; outline:none; border-radius:2px; background:#fff; -webkit-appearance:none}
.form-select label.error {display:none !important}

.calc-form form {margin:0; padding:0}

.calc-form-funds {margin:12px 0 2px 0}
.calc-form-funds:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calc-form-funds-add {float:left; width:24px; height:24px; background:#fff url(../images/calc-form-funds-add.png) no-repeat center; border-radius:3px; margin:0 20px 10px 0}
.calc-form-funds-item {float:left; height:24px; padding:0 30px 0 10px; position:relative; background:#fff; margin:0 10px 10px 0; border-radius:3px; color:#431a2d; font-weight:bold; font-size:12px; line-height:24px}
.calc-form-funds-item-load {color:#431a2d; text-decoration:none}
.calc-form-funds-item-remove {display:block; width:12px; height:12px; background:url(../images/calc-form-funds-item-remove.png); position:absolute; right:9px; top:6px}

.calc-form-inner {background:#fff; padding:21px 30px 30px 30px}
.calc-form-title {color:#431a2d; font-weight:bold; font-size:18px; line-height:24px; margin:0 0 27px 0}
.calc-form-row {margin:12px -5px}
.calc-form-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calc-form-field-1 {float:left; width:62%; box-sizing:border-box; padding:0 5px}
.calc-form-field-2 {float:left; width:38%; box-sizing:border-box; padding:0 5px}
.calc-form-field-3 {float:left; width:33.33%; box-sizing:border-box; padding:0 5px}
.calc-form-field-4 {float:left; width:33.33%; box-sizing:border-box; padding:0 5px}
.calc-form-field-5 {float:left; width:33.33%; box-sizing:border-box; padding:0 5px}
.calc-form-ctrl {margin:31px 0 0 0}
.calc-form-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calc-form-submit {float:right; width:270px; position:relative}
.calc-form form.loading .calc-form-submit .btn {cursor:default; opacity:.5; background:#431a2d}
.calc-loading {display:none; position:absolute; right:-28px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(../images/loading.gif)}
.calc-form form.loading .calc-loading {display:block}
.calc-form-save {float:right; margin:0 20px 0 0; position:relative}
.calc-form-save-link {display:block; width:218px; height:46px; border:1px solid #d0c6ca; border-radius:3px; text-align:center; text-transform:uppercase; text-decoration:none; color:#431a2d; font:11px/46px FedraSansProBook, sans-serif}
.calc-form-save-window {display:none; position:absolute; left:-120px; top:-79px; padding:18px 20px; width:420px; height:60px; background:#fff; z-index:99; border-radius:3px; box-shadow:0 15px 25px rgba(67, 26, 45, .25)}
.calc-form-save-window.open {display:block}
.calc-form-save-window:before {content:""; display:block; position:absolute; left:50%; bottom:-9px; margin-left:-10px; width:0; height:0; border-top:9px solid #fff; border-left:10px solid transparent; border-right:10px solid transparent}
.calc-form-save-window:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calc-form-save-window .form-input {float:left; width:260px}
.calc-form-save-submit {float:right; width:152px; height:60px; line-height:60px}

@media screen and (max-width:1023px) {
    .calc-form-row {margin:12px 0}
    .calc-form-field-1 {float:none; width:auto; margin:12px -8px 0 0; padding:0}
    .calc-form-field-2 {float:none; width:auto; margin:12px 0; padding:0}
    .calc-form-field-3 {float:none; width:auto; margin:12px -8px 0 0; padding:0}
    .calc-form-field-4 {float:none; width:auto; margin:12px 0; padding:0}
    .calc-form-field-5 {float:none; width:auto; margin:12px -8px 0 0; padding:0}
    .calc-form-submit {width:100%; float:none}
    .calc-form-save {float:none; margin:20px 0 0 0}
    .calc-form-save-link {width:auto}
    .calc-form-save-window {left:50%; margin-left:-230px}
}

.calc-notice {font-size:12px; line-height:18px; border-left:2px solid #431a2d; padding:5px 0 7px 30px; margin:36px 0}

.calc-results {position:absolute; left:-9999px; top:-9999px; width:99%}
.calc-results.open {position:relative; left:auto; top:auto; width:auto}
.calc-results-top {background:#fff; border-bottom:1px solid #f1f1f1}
.calc-results-top .content {padding:11px 0 0 0}
.calc-results-notice {margin-top:-24px}

@media screen and (max-width:1023px) {
    .calc-results-top .content {padding:11px 35px 0 35px}
}

.calc-results-params:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calc-results-params-table {float:left; width:48.71%}
.calc-results-params-table td {border-left:none}
.calc-results-params-table td:nth-child(2) {font-weight:bold; color:#431a2d; text-align:right}
.calc-results-params-table tr+tr td {border-top-color:#e6e6e6}
.calc-results-params-chart {float:right; width:38.46%}

@media screen and (max-width:1023px) {
    .calc-results-params-table {float:none; width:auto}
    .calc-results-params-chart {float:none; width:auto}
}

.calc-results-chart {background:#fff; padding:71px 0 0 0}
.calc-results-chart .content {padding-top:0; padding-bottom:0}
.calc-results-chart h2 {margin:0}
.calc-results-chart .content+.chart {margin:0}
.chart-calc-currency {text-transform:uppercase; font:11px/24px FedraSansProBook, sans-serif; padding:28px 0 0 0}
.chart-calc-currency-link {color:#aaa; text-decoration:none; margin:0 0 0 19px}
.chart-calc-currency-link span:first-child {color:#431a2d; font:bold 11px/24px FedraSansPro, sans-serif}
.chart-calc-currency-link.active span {color:#431a2d; font:bold 11px/24px FedraSansPro, sans-serif}
.chart-calc-currency-link.active span:first-child {color:#aaa; font:11px/24px FedraSansProBook, sans-serif}
.chart-calc-currency-link em {display:inline-block; vertical-align:middle; width:32px; height:16px; background:#431a2d; border-radius:8px; margin:0 10px; position:relative}
.chart-calc-currency-link em:after {content:""; display:block; width:12px; height:12px; background:#fff; position:absolute; left:2px; top:2px; border-radius:50%; transition:all .3s ease}
.chart-calc-currency-link.active em:after {left:18px}

.calc-results-chart-legend {text-align:center; font-size:14px; line-height:24px; color:#707070; padding:0 0 70px 0}
.calc-results-chart-legend-item {display:inline-block; vertical-align:top; margin:0 17px; padding:0 0 0 32px; position:relative}
.calc-results-chart-legend-item span {display:block; width:24px; height:24px; position:absolute; left:0; top:0}
#calc-results-chart-legend-item-1 {display:none}
#calc-results-chart-legend-item-1.active {display:inline-block}
#calc-results-chart-legend-item-2 {display:none}
#calc-results-chart-legend-item-2.active {display:inline-block}

.calc-results-params-chart .calc-results-chart-legend {text-align:left; font-size:12px; line-height:18px; padding:0}
.calc-results-params-chart .calc-results-chart-legend-item {padding:0 0 0 40px; margin:18px 0; display:block}
.calc-results-params-chart .calc-results-chart-legend-item span {width:18px; height:18px}

.jspScrollable .jspContainer:before {content:""; display:block; position:absolute; left:50%; bottom:26px; width:17px; height:26px; margin-left:-9px; background:url(../images/scroll.png); z-index:90; transition:opacity .3s ease}
.jspScrollable.noscroll .jspContainer:before {opacity:0}
.jspScrollable .jspContainer:after {content:""; display:block; position:absolute; left:50%; bottom:16px; width:10px; height:17px; margin-left:-5px; background:url(../images/scroll-arrow.png); z-index:90; animation:pulse-down 2s ease-in infinite; transition:opacity .3s ease}
.jspScrollable.noscroll .jspContainer:after {opacity:0}

@keyframes pulse-down{
    20%{
        transform:translate3d(0, 1px, 0)
    }
    40%{
        transform:translate3d(0, 5px, 0)
    }
    60%{
        transform:translate3d(0, 1px, 0)
    }
    80%{
        transform:translate3d(0, 5px, 0)
    }
    100%{
        transform:translate3d(0, 1px, 0)
    }
}

.slide-prev-link,
.slide-next-link {padding:0; border:none; text-indent:-10000px; overflow:hidden; border-radius:50%; width:48px; height:48px; cursor:pointer; z-index:10; position:fixed; top:50%; margin-top:-75px; background:#fff; outline:none !important; box-shadow:0 0 13px rgba(0, 0, 0, .23)}
.slide-prev-link {left:35px}
.slide-next-link {right:35px}
.slide-prev-link:before,
.slide-next-link:before {content:""; display:block; width:10px; height:17px; background:url(../images/slides-arrows.png); position:absolute; left:50%; top:50%; margin:-9px 0 0 -5px}
.slide-prev-link:before {background-position:left top}
.slide-next-link:before {background-position:-11px top}
.slide-prev-link:hover:before {background-position:left -18px}
.slide-next-link:hover:before {background-position:-11px -18px}